matlab.mat
.*
*~
!.gitignore
!.gitattributes
hydeparkArchive/
/hydeparkMatfiles/tmp
/hydeparkMatfiles/jointMark1
/hydeparkMCMC2017plus
/gitexport.sh
/hydeparkDataSPF/exportETAFEdata.m
hydeparkDataSPF/ETA*.csv
hydeparkDataSPF/FE*.csv
hydeparkDataSPF/*.mat
/hydeparkMCMC/tmp
/hydeparkMatfiles2018
/resultfiles
/hydeparkTablesAndFigures/tmp
/hydeparkTablesAndFigures/*.tex
/hydeparkTablesAndFigures/todo
